@model ContestViewModel

<style>
body {
 background-image: url("https://res.cloudinary.com/doifgnlmu/image/upload/v1655939939/PC%20View%20Use/Create_Contest_jbloky.jpg");
 background-color: #cccccc;
 background-size: cover;
 position: relative;
}
</style>

@*<form href="/Contests/Create" method="post">*@

<body class="text-light">

<form asp-controller="Contests" asp-action="@this.ViewData["Action"]" method="post" >
    <div class="form-group" style="display: @this.ViewData["ContestFormVisibility"]" >
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group" style="display: @this.ViewData["ContestFormVisibility"]" >
        <label asp-for="CategoryId"></label>
        <select asp-items="Model.Categories" asp-for="CategoryId" class="custom-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    @*<div class="form-group">*@
@*    <div class="form-group" style="display: @this.ViewData["ContestFormVisibility"]">
        <label asp-for="Phase1Start"></label>
        <input type="text" asp-for="Phase1Start" class="form-control" />
        <span asp-validation-for="Phase1Start" class="text-danger"></span>
    </div> *@
     <div class="dropdown" style="display: @this.ViewData["ContestFormVisibility"]" >
        <label asp-for="IsOpen"></label>
        <select name="">
        <option value="">Select an option</option>
        <option value="true">Open</option>
        <option value="false">Invitational</option>
</select>

    </div>
    <div class="form-group" style="display: @this.ViewData["ContestFormVisibility"]" >
        <label asp-for="Phase2Start"></label>
        <input type="text" asp-for="Phase2Start" class="form-control" />
        <span asp-validation-for="Phase2Start" class="text-danger"></span>
    </div>
    <div class="form-group" style="display: @this.ViewData["ContestFormVisibility"]" >
        <label asp-for="EndDate"></label>
        <input type="text" asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

@*    <div class="form-group" style="display: @this.ViewData["PhaseFormVisibility"]" >
        <label asp-for="PhaseName"></label>
        <input type="text" asp-for="PhaseName" class="form-control" />
        <span asp-validation-for="PhaseName" class="text-danger"></span>
    </div>*@

    <div class="form-group" style="display: @this.ViewData["UserFormVisibility"]">
        <label asp-for="IsJury"></label>
        <input type="text" asp-for="IsJury" class="form-control" />
        <span asp-validation-for="IsJury" class="text-danger"></span>
    </div>
    <div class="form-group" style="display: @this.ViewData["UserFormVisibility"]">
        <label asp-for="UserId"></label>
        <select asp-items="Model.Users" asp-for="UserId" class="custom-select"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>


    <input type="submit" value="@this.ViewData["SubmitButton"]" class="btn btn-success" />
    <p></p>
    <br />
    <a href="/Contests/index" class="nav">Go Back</a>
</form>

</body>